# PrimeNG 22 passou a exigir licença paga (ver PrimeUI License); ficamos pinados
# em primeng@21.1.9 (MIT), que só declara peer dependency oficial pro Angular 21.
# Na prática funciona liso contra o Angular 22 do projeto — os componentes usados
# não dependem de API interna que mudou entre as duas majors — mas o npm recusa
# a instalação sem isso por causa do peer dependency declarado.
legacy-peer-deps=true
